#cr_player{
    width: 285px;
    top: unset;
    bottom: 10px;
    right: unset;
    left: 10px;
    height: 93px;
}

#cr_song_avatar {
    width: 93px;
    height: 93px;
}

#cr_info{
    width: 184px;
}

#cr_name,#cr_singer{
    font-size: 100%;
}

#cr_player .btn {
    margin-top: 9px;
    background-color: black;
    padding: 4px;
}

#cr_player .btn-setting {
    float: right;
    margin-right: 15px;
    position: absolute;
    right: -12px;
    top: -8px;
    font-size: 13px;
    border: none;
    z-index: 200;
    cursor: pointer;
    background-color: unset;
}